*{
  margin: 0;
  padding: 0;
}
.body{
  font-family: poppins, sans-serif;
}


#hero_area{
  background: url(img/croissant-matzZGQk4o4-unsplash.jpg);
  padding: 100px 0;
  background-size: cover;
  background-position: center;
  height: 400px;
}
img{
  width: 100%;
}
#hero_area h1{
  font-size: 70px;
  font-weight: 50px;
 text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  color:#fff;
}
#hero_area p{
  text-align: center;
  color:#fff;
}